## **튜플**

### 1. 원소를 'A' 하나만 가지는 튜플을 생성하라.

In [1]:
# 답안 작성
a = ("A", )
a

('A',)

### 2. 오류가 발생한 이유를 튜플의 특징과 관련하여 설명하시오.

In [ ]:
t = ('A+', 'A0', 'A', 'B+', 'A+')
type(t)
#t[2] = 'B'

''

t는 튜플이기 때문에 값을 수정하거나 변경할 수 없어서

### 3. 아래의 요소를 튜플로 생성하시오. <br>
**20, 4.21, 데이터정보과학부**

In [4]:
# 답안 작성
a = (20, 4.21, "데이터정보과학부")
a

(20, 4.21, '데이터정보과학부')

### 3-1. 위 튜플의 요소를 각각 age, grade, major 변수에 저장하고 출력하세요.

In [6]:
# 답안 작성
age = a[0]
grade = a[1]
major = a[2]
print(age)
print(grade)
print(major)

20
4.21
데이터정보과학부

### 3-2. 위의 변수를 활용하여 다음의 문장을 생성하시오.
**나는 __살이고 학점은 __이며 _______에 재학 중이다.**<Br>
\*조건: 학점은 소수점 첫째 자리까지만 표현. f-string 방식의 포매팅을 사용하여 위 문장을 생성할 것.

In [7]:
# 답안 작성
print(f"나는 {age}살이고 학점은 {grade}이며 {major}에 재학 중이다.")

나는 20살이고 학점은 4.21이며 데이터정보과학부에 재학 중이다.

## **딕셔너리**

### 1. 다음 표를 딕셔너리 형태로 구현하고 출력하시오. <br>
|좌석|잔여석|
|------|---|
|VIP|0|
|스탠딩|1|
|지정석 S|1|
|지정석 B|0|
|지정석 R|2|

In [8]:
# 답안 작성
a = {"vip":1, "스탠딩":1, "지정석S":1, "지정석B":0, "지정석R":2}
a

{'vip': 1, '스탠딩': 1, '지정석S': 1, '지정석B': 0, '지정석R': 2}

### 1-1. 스탠딩 좌석이 매진되었다. 잔여석을 0으로 바꾸고 결과를 출력하시오.

In [9]:
# 답안 작성
a["스탠딩"] = 0
a

{'vip': 1, '스탠딩': 0, '지정석S': 1, '지정석B': 0, '지정석R': 2}

### 1-2. '지정석 A' 구역과 잔여석 3을 추가하여라.

In [10]:
# 답안 작성
a["지정석A"] = 3
a

{'vip': 1, '스탠딩': 0, '지정석S': 1, '지정석B': 0, '지정석R': 2, '지정석A': 3}

### 2. 다음은 좌표와 좌표에 대응하는 장소 이름이다.
|X|Y|장소|
|------|---|---|
|35.1|29.47|도서관|
|22.0|52.7|주택|
|82.56|11.77|연구소|

### 딕셔너리 형태를 만들되, Key: Value 양식이 **좌표: 장소**로 표현되도록 하시오. <br>
\* 힌트: 좌표는 튜플로 표현한다.

In [11]:
# 답안 작성
a = {(35.1, 29.47):"도서관", (22.0, 52.7):"주택", (82.56, 11.77):"연구소"}
a

{(35.1, 29.47): '도서관', (22.0, 52.7): '주택', (82.56, 11.77): '연구소'}

## **집합**

### 1. A는 쇼핑, 딸기, 바닐라 라떼를 좋아하고 B는 볼링, 참외, 자장면, 바닐라 라떼를 좋아한다. A가 좋아하는 것과 B가 좋아하는 것을 각각의 **집합**에 담아 표현하시오.

In [12]:
# 답안 작성
A = set(["쇼핑", "딸기", "바닐라 라떼"])
B = set(["볼링", "참외", "자장면", "바닐라 라떼"])
print(A)
print(B)

{'쇼핑', '바닐라 라떼', '딸기'}
{'자장면', '참외', '볼링', '바닐라 라떼'}

### 1-2. A와 B 두 명이 공통적으로 좋아하는 것들을 출력하시오. 단, 집합의 기능 중 하나를 이용하도록 한다.

In [16]:
# 답안 작성
print(A&B)
print(A.intersection(B))

{'바닐라 라떼'}
{'바닐라 라떼'}

### 1-3. B는 좋아하지 않고 A만 좋아하는 것들을 출력하시오. 단, 집합의 기능 중 하나를 이용하도록 한다.

In [17]:
# 답안 작성
print(A-B)
print(A.difference(B))

{'쇼핑', '딸기'}
{'쇼핑', '딸기'}